<% title "Diagnostics" %>

<p><%= link_to "Test flash (notice)", { :action => "test_flash_notice" }, :class => "medium button" %></p>
<p><%= link_to "Test flash (alert)", { :action => "test_flash_alert" }, :class => "medium red button" %></p>