<% title "Listing slide types" %>

<% actions do %>
  <%= link_to 'New Slide type', new_slide_type_path, :class => "medium button" %>
<% end %>

<table>
  <tbody>
    <% @slide_types.each do |slide_type| %>
      <tr>
        <td><%= slide_type.name %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_slide_type_path(slide_type), :class => "button" %>
          <%= link_to 'Destroy', slide_type, :class => "red button", :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
