/* reset */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section, header, footer, nav { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }

/* fonts */
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-Bold-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-Bold-webfont.woff') format('woff'), url('/fonts/LiberationSans-Bold-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-BoldItalic-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-Italic-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-Italic-webfont.woff') format('woff'), url('/fonts/LiberationSans-Italic-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-Regular-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-Regular-webfont.woff') format('woff'), url('/fonts/LiberationSans-Regular-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-Bold-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-Bold-webfont.woff') format('woff'), url('/fonts/DroidSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-BoldItalic-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}
@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-Italic-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-Italic-webfont.woff') format('woff'), url('/fonts/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-Regular-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-Regular-webfont.woff') format('woff'), url('/fonts/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Lobster 13';
src: url('/fonts/Lobster_1.3-webfont.eot');
src: local('☺'), url('/fonts/Lobster_1.3-webfont.woff') format('woff'), url('/fonts/Lobster_1.3-webfont.ttf') format('truetype'), url('/fonts/Lobster_1.3-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Andale Mono';
src: url('/fonts/AndaleMono-webfont.eot');
src: local('☺'), url('/fonts/AndaleMono-webfont.woff') format('woff'), url('/fonts/AndaleMono-webfont.ttf') format('truetype'), url('/fonts/AndaleMono-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

/* tag styles */
body {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 0.985em;
  color: #444;
}

a {
  color: #338435;
  text-decoration: none;
}
a:hover {
  color: #256026;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Liberation Sans", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
  color: #000;
}
h1 { padding: 0 0 15px; }

p {
  margin: 0 0 15px;
}

pre, code {
  font-family: "Andale Mono", "Menlo", "Courier New", "Courier", "Mono", monospace;
  font-size: 1.037em;
  display: block;
}
code {
  text-align: left;
  background: #999;
  padding: 10px;
}

/* tables */
table {
  width: 100%;
}
table.sortable, table.sortable tr {
  width: 100%;
}
th {
  font-weight: bold;
  padding: 4px;
}
td {
  padding: 4px;
  border-color: #bbb;
}
tbody tr:nth-child(odd) {
  background: #e3e3e3;
}
tbody tr:nth-child(odd):hover, tbody tr:nth-child(even):hover {
  background: #ffddde;
}

/* form styles */
input[type=text], input[type=password], textarea { display: block; background: #fff url(../images/input-bg.png) no-repeat 0 0; padding: 3px 5px; margin: 0 0 10px 0; border: 1px solid #bbb; -webkit-border-radius: 3px; font: 13px/18px "Liberation Sans", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; text-shadow: 0 0 1px #fff; color: #666; }
select:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus { outline: none; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border: 1px dashed #333; color: #333; }
textarea { width: 500px; height: 200px; }
select { display: inline-block; margin-top: 6px; }

form { margin: 0 0 15px; }
form div.field label { display: inline-block; padding: 0 0 5px; font-family: "Liberation Sans", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; }
form div.actions { margin: 10px 0 0; }

.field_with_errors input[type=text], .field_with_errors input[type=password], .field_with_errors textarea { border: 1px solid #e33100; }

/* classes */
.clear { clear: both; }

.special-text { font-family: "Lobster 13", cursive; font-size: 1.008em; }

/* ui widgets */
.flash {
  padding: 5px;
  margin: 5px 0 20px 0;
  color: #000;
}
.flash.notice {
  background: #74b9ec;
  border: 1px solid #4081af;
}
.flash.alert {
  background: #e26262;
  border: 1px solid #893b3b;
}

.huge-list {
}
.huge-list > div {
  padding: 7px;
}
.huge-list > div:nth-child(odd) {
  background: #e3e3e3;
}
.huge-list > div:nth-child(odd):hover, .huge-list > div:nth-child(even):hover {
  background: #ffddde;
}
.huge-list > div .title {
  font-size: 2.4em;
}

td.actions {
  width: 1px;
  white-space: nowrap;
}

.edit-controls {
  font-size: 0.8em;
  padding: 10px 0 3px;
  margin: 10px 0 0;
  border-top: 1px dashed #bbb;
}
.edit-controls a {
  display: inline-block;
  margin: 0 3px;
  color: #ba3b3b;
}
.edit-controls a:first-child {
  margin-left: 0;
}
.edit-controls a:hover {
  color: #893b3b;
}

/* button awesomeness */

.button {
  font: normal normal normal 14px/18px 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  display: inline-block;
  background: #3b88d8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.2), 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #3275bc;
  font-size: 11px;
  font-weight: normal;
  color: #fff !important;
  -webkit-border-radius: 5px;
  padding: 4px 11px;
  line-height: normal !important;
}
.red.button {
  background: #ba3b3b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#db3b3b), to(#ba3b3b));
  border: 1px solid #893b3b;
  text-shadow: 0 -1px 1px #a12d2e;
}
.red.button:hover {
  background: #ba3b3b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cb3b3b), to(#9b3b3b));
  border: 1px solid #593b3b;
  text-shadow: 0 -1px 1px #7e2324;
}
.medium.button {
  font-size: 13px;
  padding: 5px 12px;
}
.large.button {
  font-size: 17px;
  padding: 10px 17px;
}
.button:hover {
  background: #2a81d7;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.3);
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  text-decoration: none;
}
.button:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -webkit-box-shadow: inset 0 0 6px 3px rgba(255,255,255,.2), 0 1px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
}
.button[disabled], .button[data-disabled],
.button[disabled]:hover, .button[data-disabled]:hover,
.button[disabled]:active, .button[data-disabled]:active {
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}