/* reset */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section, header, footer, nav { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }

/* fonts */
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-Bold-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-Bold-webfont.woff') format('woff'), url('/fonts/LiberationSans-Bold-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-BoldItalic-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-Italic-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-Italic-webfont.woff') format('woff'), url('/fonts/LiberationSans-Italic-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: 'Liberation Sans';
src: url('/fonts/LiberationSans-Regular-webfont.eot');
src: local('☺'), url('/fonts/LiberationSans-Regular-webfont.woff') format('woff'), url('/fonts/LiberationSans-Regular-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-Bold-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-Bold-webfont.woff') format('woff'), url('/fonts/DroidSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-BoldItalic-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}
@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-Italic-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-Italic-webfont.woff') format('woff'), url('/fonts/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: 'Droid Serif';
src: url('/fonts/DroidSerif-Regular-webfont.eot');
src: local('☺'), url('/fonts/DroidSerif-Regular-webfont.woff') format('woff'), url('/fonts/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Lobster 13';
src: url('/fonts/Lobster_1.3-webfont.eot');
src: local('☺'), url('/fonts/Lobster_1.3-webfont.woff') format('woff'), url('/fonts/Lobster_1.3-webfont.ttf') format('truetype'), url('/fonts/Lobster_1.3-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Andale Mono';
src: url('/fonts/AndaleMono-webfont.eot');
src: local('☺'), url('/fonts/AndaleMono-webfont.woff') format('woff'), url('/fonts/AndaleMono-webfont.ttf') format('truetype'), url('/fonts/AndaleMono-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

/* tag styles */
body {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 0.985em;
  color: #444;
}

a {
  color: #338435;
  text-decoration: none;
}
a:hover {
  color: #256026;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Liberation Sans", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
  color: #000;
}
h1 { padding: 0 0 15px; }

p {
  margin: 0 0 15px;
}

pre, code {
  font-family: "Andale Mono", "Menlo", "Courier New", "Courier", "Mono", monospace;
  font-size: 1.037em;
}

/* classes */
.special-text { font-family: "Lobster 13", cursive; font-size: 1.008em; }

/* ui widgets */
.huge-list {
}
.huge-list > div {
  padding: 7px;
}
.huge-list > div.odd {
  background: #e3e3e3;
}
.huge-list > div:hover {
  background: #ffddde;
}
.huge-list > div .title {
  font-size: 2.4em;
}