/* tag styles */
body {
  background: url(../images/bg.png) repeat;
}

/* page element styles */
#outer-container {
  width: 940px;
  margin: 20px auto;
  position: relative;
}

#inner-container {
  margin: 10px 0;
  padding: 15px;
  background: #fff;
  -webkit-border-radius: 7px;
  position: relative;
}

#current-login {
  position: absolute;
  top: -28px;
  right: 0;
  padding: 5px 7px;
  background: #e3e3e3;
  -webkit-border-radius: 7px;
  border: 3px solid #fff;
  text-align: right;
}

h1#app_name {
  font-family: "Lobster 13", cursive;
  padding: 0 0 0 15px;
  font-weight: bold;
  font-size: 2.5em;
}
h1#app_name a {
  color: #000;
}

#main-content {
  
}

#footer {
  margin: 25px 0;
  text-align: center;
}
