/* tag styles */
body {
  background: url(../images/bg.png) repeat;
}

/* page element styles */
#outer-container {
  width: 980px;
  margin: 20px auto;
  position: relative;
}

#inner-container {
  margin: 10px 0;
  padding: 15px;
  background: #fff;
  -webkit-border-radius: 7px;
  position: relative;
}

h1#app_name {
  font-family: "Lobster 13", cursive;
  padding: 0 0 0 15px;
  font-weight: bold;
  font-size: 2.5em;
}

#main-content {
  
}

#footer {
  margin: 25px 0;
  text-align: center;
}
