<% title "Slideshows" %>

<p>Please select a slideshow to view from the list below.</p>

<div class="huge-list">
  <% @slideshows.each do |show| %>
    <div class="<%= cycle "odd", "" %>">
      <div class="title"><%= show.name %></div>
      <div class="desc"><%= show.description %></div>
    </div>
  <% end%>
</div>