<%= form_for(@setting, :url => { :action => "update" }, :html => { :method => :put }) do |f| %>
  <div class="field">
    <%= f.label :default_timeout %><br />
    <%= f.text_field :default_timeout %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "small button" %>
  </div>
<% end %>
