<% title "Global Settings" %>

<%= stylesheet_link_tag 'settings' %>

<p>The options available for configuration.</p>

<div class="settings-list">
  <div class="settings-title">Default Timeout</div>
</div>
