<% title "Global Settings" %>

<%= stylesheet_link_tag 'settings' %>

<p>The options available for configuration.</p>

<div class="settings-list">
  <div class="setting-title">Default Timeout:</div>
  <div class="setting-desc"><%= @settings.default_timeout %></div>

  <div class="setting-title">Allowed Users:</div>
  <div class="all-users">
    <% @users.each do |user| %>
       <div class="user-display">
         <div class="user-title"><%= user.name %></div>
         <div class="user-desc"><%= user.username %></div>
         <div class="user-controls">
         </div>
       </div>
    <% end %>
  </div>

  <div class="add-user">

  </div>
  
</div>
