<% title "SpecialSlides (tm)" %>

<% actions do %>
  <% if @logged_in %>
    <%= link_to "Sign out from Google", { :action => :logout }, :class => "medium button" %>
  <% end %>
<% end %>

<% @events.each do |event| %>
  <p>
    <%= event[:title] %><br />
    <%= "@#{event[:where]}" unless event[:where].nil? or event[:where].empty? %><br />
    <%= "#{format_dates event[:start_time], event[:end_time]}" if event[:start_time] %>
  </p>
  <hr />
<% end %>

